# Environment
.env
.env.*

# Dependencies
/vendor/
/node_modules/

# Laravel runtime & cache
/bootstrap/cache/

# Keep runtime stuff ignored
/storage/*.key
/storage/logs/*
/storage/framework/*
/storage/app/private/*
/storage/app/uploads/*

# Allow public assets to be tracked
!/storage/app/public/


# Public build artifacts
/public/build
/public/hot
/public/storage

# IDE & editor settings
/.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary & logs
*.log
*.tmp
*.bak
*.swp
*.swo

# Testing
.phpunit.result.cache

# Coverage & reports
/coverage/
/npm-debug.log*
/yarn-error.log*
